<script>
 var ioStats = io.connect();
	ioStats.on('rafraichirStats', function(data){
		console.log(data)
		if (data.length != 0){
			setTimeout(function(){ genererListeJoueurs(data,'#joueurs') }, 1000);
			$("#nojoueurs").html("");
			$(".joueur-label").show();
		}
		else{
			var message = "Pas de joueurs actuellement";
			afficherNoJoueurs(message, '#nojoueurs')
			$("#joueurs").html("");
			$(".joueur-label").hide();
		}
	});

	var countDownDate;
	ioStats.on('timer', function(data){
		countDownDate = data;
	});

	// Update the count down every 1 second
	var x = setInterval(function() {

		// Get todays date and time
		var now = new Date().getTime();
		
		// Find the distance between now an the count down date
		var distance = countDownDate - now;
		
		// Time calculations for days, hours, minutes and seconds
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);
		
		// Output the result in an element with id="demo"
		if(countDownDate == undefined){
			document.getElementById("notimer").innerHTML = "En attente du lancement de la partie...";
			document.getElementById("timer").innerHTML = " ";
		}
		else{
			document.getElementById("timer").innerHTML = minutes + ":" + seconds;
			document.getElementById("notimer").innerHTML = " ";
		}
		// If the count down is over, write some text 
		if (distance < 0 && countDownDate != undefined) {
			clearInterval(x);
			document.getElementById("timer").innerHTML = "Fin de la partie !";
		}
	}, 1000);

	function genererListeJoueurs(d, input){
		var array = d;
		var newHTML = [];
		$.each(array, function(index, value) {
			newHTML.push('<img class="z-depth-3 responsive-img max-width-80" src="avatars/avatar-'+value.id+'.png" alt="Avatar">')
			newHTML.push('<span class="center-align sans-serif">' + value.nom + '</span>');
			newHTML.push('<br/>');
		});
		$(input).html(newHTML.join("<br>"));
	}

	function afficherNoJoueurs(message, input){
			var newHTML = [];
			newHTML.push('<span>' + message + '</span>');
			$(input).html(newHTML.join("<br>"));
	}

	var timeout_indice = "";
	var timeout2_indice = "";
	var timeout_scenario = "";
	var timeout2_scenario = "";
	var audio_indice = new Audio('/indice.mp3');

	ioStats.on('envoyerIndiceStats', function(data) {
		clearTimeout(timeout_indice);
		clearTimeout(timeout2_indice);

		$("#indice").html("<p class='animation_indice'><span class='spacing-letter escape-text'><b>INDICE</b></span></br></br>"+data+'</p>');
		$(".animation_indice").addClass("animated fadeIn");
		audio_indice.play();
		timeout_indice = setTimeout(function(){ $(".animation_indice").addClass("animated fadeOut"); }, 10000);
		timeout2_indice = setTimeout(function(){ $("#indice").html(" ");}, 12000);
	});

	ioStats.on('scenario', function(data) {
		//Scénario de la clé
		if(data == 1){
			clearTimeout(timeout_scenario);
			clearTimeout(timeout2_scenario);

			$("#mainGame").html("<p class='animation_indice spacing-letter escape-text'><span class=''><b>Vous devez retrouver la clé</b></span>");
			$(".animation_indice").addClass("animated fadeIn");
			timeout_scenario = setTimeout(function(){ $(".animation_indice").addClass("animated fadeOut"); }, 10000);
			timeout2_scenario = setTimeout(function(){ $("#mainGame").html(" ");}, 12000);
		}
	});

	ioStats.on('findkey_server', function(data) {
		//Scénario de la clé
		if(data == 1){
			clearTimeout(timeout_scenario);
			clearTimeout(timeout2_scenario);

			$("#mainGame").html("<p class='animation_indice spacing-letter escape-text'><span class=''><b>Vous avez trouvé la clé</b></span>");
			$(".animation_indice").addClass("animated fadeIn");
			timeout_scenario = setTimeout(function(){ $(".animation_indice").addClass("animated fadeOut"); }, 10000);
			timeout2_scenario = setTimeout(function(){ $("#mainGame").html(" ");}, 12000);
		}
	});
</script>