<html>

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
	<script></script>
	<link rel="stylesheet" href="../../admin.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
	<div class="wrapper">
		<%if (erreur) { %>
				<div class="erreur"><%= erreur %></div>
			<% } %>
		<form action="login" class="login" method="GET">
		  <p class="title">Connexion</p>
		  <input type="text" name="u" placeholder="Utilisateur" autofocus/>
		  <i class="fa fa-user"></i>
		  <input type="password" name="p" placeholder="Mot de passe" />
		  <i class="fa fa-key"></i>
		  <button type="submit">
		    <i class="spinner"></i>
		    <span class="state">Se connecter</span>
		  </button>
		</form>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	  <script src="../../admin.js"></script>
	</div>
</body>

</html>
