<html>
	<head>
			<% include css.ejs %>
			<link type="text/css" rel="stylesheet" href="/admin.css"  media="screen,projection"/> 
			<% include js.ejs %>	
	</head>
<body>
	<div class="wrapper">
		<%if (erreur) { %>
				<div class="erreur"><%= erreur %></div>
			<% } %>
		<form action="login" class="login" method="POST">
		  <p class="title">Connexion</p>
		  <input type="text" name="u" placeholder="Utilisateur" autofocus/>
		  <i class="fa fa-user"></i>
		  <input type="password" name="p" placeholder="Mot de passe" />
		  <i class="fa fa-key"></i>
		  <button type="submit">
		    <i class="spinner"></i>
		    <span class="state">Se connecter</span>
		  </button>
		</form>
	</div>
</body>
</html>
