<html>

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
</head>

<body>
	<a href="/admin/logout"><button>Déconnexion</button></a>
	<h1>Admin</h1>
	<h2>Envoyer un indice</h2>
	<input id="message" name="message" placeholder="Message" /><button id="btnEnvoyerIndice">Envoyer</button>
	<h2>Liste des derniers indices envoyés</h2>
	<div id="derniersIndices"></div>
	<h2>Liste des joueurs</h2>
	<div id="joueurs"></div>
	<button id="startTimer">Start Timer</button>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
	 <% include admin-script.ejs %>  
</body>

</html>