<html>

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
	<script></script>
</head>

<body>
	<form action="login" method="GET">
		<%if (erreur) { %>
			<div><%= erreur %></div>
		<% } %>
		<div>Utilisateur: <input name="u" /></div>
		<div>Mot de passe: <input name="p" type="password"/></div>
		<button type="submit">Se connecter</button>
	</form>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
</body>

</html>
