<html>

<% include header.ejs %>  

<body>
	<a href="/admin/logout"><button>Déconnexion</button></a>
	<h1>Admin</h1>
	<h2>Envoyer un indice</h2>
	<input id="message" name="message" placeholder="Message" /><button id="btnEnvoyerIndice">Envoyer</button>
	<h2>Liste des derniers indices envoyés</h2>
	<div id="derniersIndices"></div>
	<h2>Liste des joueurs</h2>
	<div id="joueurs"></div>
	<button id="startTimer">Start Timer</button>
	<button id="stopTimer">Stop Timer</button>
	<% include footer.ejs %>  
	<% include admin-script.ejs %>  
</body>

</html>