<html>
		<script src="/socket.io/socket.io.js"></script>
		<script>  
				var socket = io.connect('https://projet-ar.herokuapp.com');
				socket.on('connect', function(data) {
					 socket.emit('join', document.getElementById('nom'));
				});

			 </script>
	<body>
	<input id="nom" placeholder="Nom"/><a href="/client"><button>Go</button></a>
	</body>
</html>