<html>
	<% include css.ejs %>  
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<body>
		<div class="container">
			<div class="wrapper-100 center-align">
				<div class="row">
					<H3 class="center-align sans-serif escape-text spacing-letter">ESCAPE ROOM</H3>
					<div class="divider"></div>
				</div>

				<div class="row show-on-medium-and-up hide-on-small-only">
					<div class="col m4 center"><a class="blue-grey darken-3 z-depth-5 waves-effect waves-light btn full-width" href="client/connect">Client</a></div>
					<div class="col m4 center"><a class="blue-grey darken-3 z-depth-5 waves-effect waves-light btn full-width" href="stats">Statistiques</a></div>
					<div class="col m4 center"><a class="blue-grey darken-3 z-depth-5 waves-effect waves-light btn full-width" href="admin">Administration</a></div>
				</div>
				<div class="row show-on-small hide-on-med-and-up">
					<div class="col s12 center"><a class="blue-grey darken-3 z-depth-5 waves-effect waves-light btn full-width" href="client/connect">Client</a></div>
					<div class="col s12 center add-margin-15"><a class="blue-grey darken-3 z-depth-5 waves-effect waves-light btn full-width" href="stats">Statistiques</a></div>
					<div class="col s12 center add-margin-15"><a class="blue-grey darken-3 z-depth-5 waves-effect waves-light btn full-width" href="admin">Administration</a></div>
				</div>
			</div>
		</div>

		<div class="center fix-bottom">
			<span>Valentin Ernouf - Richard Montoux - Corentin Moreau - Kévin Vibert</span>
		</div>

		<% include js.ejs %>  
		<script>
			$('.escape-text').addClass('animated flash');
		</script>
	</body>
</html>