<html>
	<body>
	<a href="client/connect">Lancer un client</a><br/>		
	<a href="stats">Accéder à l'écran des statistiques</a><br/>
	<a href="admin">Accéder à l'espace d'administration</a>
	</body>
</html>