<html>
	<% include header.ejs %>  
	<body>
		<div class="container">
			<div class="wrapper-100 center-align">
				<div class="row">
					<H3 class="center-align sans-serif escape-text spacing-letter">ESCAPE ROOM</H3>
					<div class="divider"></div>
				</div>

				<div class="row">
					<div class="col s4 center"><a class="blue-grey darken-3 z-depth-5 waves-effect waves-light btn full-width" href="client/connect">Client</a></div>
					<div class="col s4 center"><a class="blue-grey darken-3 z-depth-5 waves-effect waves-light btn full-width" href="stats">Statistiques</a></div>
					<div class="col s4 center"><a class="blue-grey darken-3 z-depth-5 waves-effect waves-light btn full-width" href="admin">Administration</a></div>
				</div>
			</div>
		</div>

		<div class="center fix-bottom">
			<span>Valentin Ernouf - Richard Montoux - Corentin Moreau - Kévin Vibert</span>
		</div>

		<% include footer.ejs %>  
		<script>
			$('.escape-text').addClass('animated flash');
		</script>
	</body>
</html>