<html>

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
	<script>
    var ioStats = io.connect();
	ioStats.on('rafraichirStats', function(data){
		console.log(data)
		if (data.length != 0){
			setTimeout(function(){ genererListeJoueurs(data,'#joueurs') }, 1000);
		}
		else{
			var message = "Pas de joueurs actuellement";
			afficherNoJoueurs(message, '#joueurs')
		}
	});

	function genererListeJoueurs(d, input){
		var array = d;
		var newHTML = [];
		$.each(array, function(index, value) {
			newHTML.push('<span>' + value.nom + '</span>');
			newHTML.push('<img src="avatars/avatar-'+value.id+'.png" alt="Avatar" height="42" width="42">')
		});
		$(input).html(newHTML.join("<br>"));
	}

	function afficherNoJoueurs(message, input){
			var newHTML = [];
			newHTML.push('<span>' + message + '</span>');
			$(input).html(newHTML.join("<br>"));
	}

	</script>
</head>

<body>
	<div id="joueurs"></div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
</body>

</html>